.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .messages-list{
  background-color: whitesmoke;
} */
.chatListDiv {
  background-color: whitesmoke;
  height: 400px;
  max-height: 400px;
  overflow: scroll;
  border-radius: 5px;
}

.messages-list li {
  color: black;
}
ul li {
  list-style-type: none;
}
.mine {
  color: navy;
  font: bold;
}
.mainDiv {
  display: flex;
  flex-direction: row;
}
.leftDiv {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.chatDiv {
  width: 29%;
}

#chatTitle {
  margin: 0%;
  padding: 0%;
}
#infoDiv{
  background-color: indigo;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.leaflet-container {
  width: 100%;
  height: 50vh;
}

.messageName {
  font: bold;
  color: darkslategrey;
  font-size: medium;
}

.messageDate {
  font-size: small;
  color: darkgray;
}

.messageMessage {
  font-size: small;
  color: black;
}
li p {
  margin: 0%;
  padding: 0%;
}

.flightCard {
  border-radius: 5px;
  background-color: indianred;
  max-width: 200px;
  margin: 3px 1.5px 3px 1.5px;
}